Dear [[professor]],

Please fill out your preferences in the attached CSV file. Use the empty column to indicate your preferences, where a **lower** number indicates a **higher** preference. 

You have been allocated a quota of [[quota]] LA(s). Please indicate preferences of approximately 2-3 times the number of your quota, and provide a completed CSV file with your preferences.

Regards,
Ziad Matni & Phill Conrad, ULA Program Chairs

**Ziad Matni, Ph.D.**  (he/him/his)
Assistant Teaching Professor
Computer Science Dept., UC Santa Barbara
1123 Harold Frank Hall, Santa Barbara, CA 93106-5110