Dear [[applicant]],

Thank you for applying to be a Learning Assistant for the CS department for {{current_quarter}}. We had many applicants, and it was difficult to choose among them for the limited slots in the program. Thank you for your patience. **Unfortunately, you have not been selected for a ULA position in the {{current_quarter}} quarter.**

We got many more applications as we have available positions, but please do not be discouraged as it sometimes takes a couple of application cycles to get picked up for the first time, and unfortunately, this sometimes happens to experienced ULAs as well, even though once you are selected, chances of getting rehired increase.

We want to encourage you to apply to be part of the ULA program for the {{next_quarter}} quarter! Look for announcements and application forms to come out soon after the {{next_quarter}} classes are announced on GOLD.

Regards,
Ziad Matni & Phill Conrad, ULA Program Chairs

**Ziad Matni, Ph.D.**  (he/him/his)
Assistant Teaching Professor
Computer Science Dept., UC Santa Barbara
1123 Harold Frank Hall, Santa Barbara, CA 93106-5110